#include "Pods/Target Support Files/Pods-World Heritage/Pods-World Heritage.debug.xcconfig"

BUNDLE_IDENTIFIER = io.thebrewery.world_heritage.debug
PRODUCT_NAME = WHS β
EXCLUDED_SOURCE_FILE_NAMES = WHReleaseConstants.swift
ALLOWS_ARBITRARY_LOADS=1

//CODE_SIGN_IDENTITY[sdk=*]=iPhone Developer
//PROVISIONING_PROFILE[sdk=*]=
