#include "Pods/Target Support Files/Pods-World Heritage/Pods-World Heritage.release.xcconfig"

BUNDLE_IDENTIFIER = io.thebrewery.world_heritage
PRODUCT_NAME = World Heritage
EXCLUDED_SOURCE_FILE_NAMES = FLEX* WHDebugConstants.swift

//CODE_SIGN_IDENTITY[sdk=*]=iOS Distribution
//PROVISIONING_PROFILE[sdk=*]=
